<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AnswerMapper">

	
	<select id="findByAnswer" resultMap="AnswerMap">
		select * from answers;
	</select>
	
    <insert id="insert">
        insert into answers(answer, question_id) values(#{answer}, #{question_id});
    </insert>

    <update id="updateAnswer">
		update answers set answer = #{answer}, question_id = #{question_id} where id = #{id};
    </update>

    <delete id="deleteAnswer">
        delete from answers where id = #{id};
    </delete>

</mapper>
