<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<!-- ヘッダー -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 sticky-top">
	<a class="navbar-brand" th:href="@{/questionbox/index}">QuestionBox</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav4" aria-controls="navbarNav4"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end"
		id="navbarNav4">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/questionbox/question-form}">投稿</a></li>
			<li class="nav-item"><a class="nav-link" href="#">アカウント</a></li>
		</ul>
	</div>
</nav>
<!-- 質問投稿フォーム -->
<body class="bg-dark">
	<div class="container">
		<div class="main container-fluid">
			<div class="row bg-light text-dark py-5">
				<div class="col-md-8 offset-md-2">
					<h2 class="fs-1 mb-5 text-center fw-bold"></h2>
					<form method="post" th:action="@{/questionbox/post-question}" th:object="${questionForm}">
						<h2 class="fs-1 mb-5 text-center fw-bold">Let's ask everyone!</h2>
						<div class="mb-4">
							<input class="form-control" name="tatle"
								placeholder="タイトルを入力してください" th:value="*{title}">
						</div>
						<div class="mb-4">
							<textarea class="form-control" name="question" rows="5"
								placeholder="質問を入力してください" th:value="*{question}"></textarea>
						</div>
						<div class="text-center pt-4 col-md-6 offset-md-3">
							<button type="submit" class="btn btn-primary">POST</button>
						</div>
						<input type="hidden" name="user_id" th:value="*{userId}">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>