<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body class="bg-dark">
	<!-- ヘッダー -->
	<nav
		class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 sticky-top">
		<a class="navbar-brand" th:href="@{/questionbox/index}">QuestionBox</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav4" aria-controls="navbarNav4"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end"
			id="navbarNav4">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/questionbox/user-register}">登録</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/questionbox/user-login}">ログイン</a></li>
				<li class="nav-item"><a class="nav-link" href="#">サイトについて</a></li>
			</ul>
		</div>
	</nav>
	<!-- パンくずリスト -->
	<!-- <ol class="breadcrumb">
		<li><a href="user-register.html" th:href="@{/questionbox/index}">ホーム画面</a></li>
		<li class="active">ユーザーログイン</li>
	</ol> -->
	<!-- ユーザー登録 -->
	<div class="container">
		<div class="main container-fluid">
			<div class="row bg-light text-dark py-5">
				<div class="col-md-8 offset-md-2">
					<h2 class="fs-1 mb-5 text-center fw-bold">ユーザーログイン</h2>
					<label th:if="${comment}" class="control-label" style="color: red"
						for="inputError" th:text="${comment}">ダミー</label>
					<form method="post" th:action="@{/questionbox/user-signin}"
						th:object="${userLoginForm}">
						<div class="mb-3">
							<label for="email">メールアドレス</label><label th:errors="*{email}"
								class="control-label" style="color: red" for="inputError">メールアドレスを入力してください</label>
							<input type="email" class="form-control" name="email"
								placeholder="メールアドレス" th:value="*{email}">
						</div>
						<div class="mb-3">
							<label for="password">パスワード</label><label
								th:errors="*{password}" class="control-label" style="color: red"
								for="inputError">パスワードを入力してください</label> <input type="password"
								class="form-control" name="password"
								placeholder="パスワード（8桁以上16文字以下の英数字）" th:value="*{password}">
						</div>
						<div class="text-center pt-4 col-md-6 offset-md-3">
							<button type="submit" class="btn btn-primary">ログイン</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- フッター -->
	<footer class="bg-dark text-muted text-center text-small py-5">
		<p class="mb-1 text-light">&copy; 2021 Nahata Manami</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a class="text-decoration-none text-secondary" th:href="@{/questionbox/administrator-login}">管理者ログイン</a>
				</li>
				<li class="list-inline-item">
					<a class="text-decoration-none text-secondary" th:href="@{/questionbox/administrator-register}">管理者登録</a>
				</li>
			</ul>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
</body>
</html>